extends layout

block content
  .container
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed
            span.sr-only Toggle navigation
          a(class='navbar-brand', href='#') 通讯录

    .jumbotron
      button(type='button', class='btn btn-primary')&attributes({'data-toggle': 'modal'},{'data-target':'#createModal'})
        span(class='glyphicon glyphicon-plus')&attributes({'aria-hidden': 'true'}) 新增
      //button(type='button', class='btn btn-primary', id='download')
        span(class='glyphicon glyphicon-save')&attributes({'aria-hidden': 'true'}) 导出

      if students && students.length > 0
        table.table.table-striped
          thead
            tr
              th 姓名
              th 手机号
              th QQ
              th 微信号
              th 支付宝
              th 邮箱
              th 所在城市
              th 单位/学校
              th 删除
          tbody
              each student in students
                tr
                  td=student.name
                  td=student.phone
                  td=student.qq
                  td=student.wechat
                  td=student.pay
                  td=student.email
                  td=student.city
                  td=student.enterprise
                  td
                    a(href='/delete/' + student._id) Delete
      else
        hr
        p 还没有任何信息，快点第一个来填写吧～


  .modal.fade(tabindex='-1' role='dialog' aria-labelledby='createLabel' aria-hidden='true' id='createModal')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal')
            span(aria-hidden='true') &times;
            span.sr-only Close
          h4.modal-title='填写信息'
        form&attributes({'method': 'post'}, {'action': '/create'})
          .modal-body
              .form-group
                label 姓名
                input.form-control(name='name')
              .form-group
                label 手机号
                input.form-control(name='phone')
              .form-group
                label QQ
                input.form-control(name='qq')
              .form-group
                label 微信号
                input.form-control(name='wechat')
              .form-group
                label 支付宝
                input.form-control(name='pay')
              .form-group
                label 邮箱
                input.form-control(name='email')
              .form-group
                label 所在城市
                input.form-control(name='city')
              .form-group
                label 单位/学校
                input.form-control(name='enterprise')
          .modal-footer
            button(type='button', class='btn btn-btn-default')&attributes({'data-dismiss': 'modal'}) 关闭
            button(type='submit', class='btn btn-primary') 保存

block extraJS
  script(src='/javascripts/index.js')